/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
fire.json
.idea/*
.DS_Store
resources/js/.idea/*
public/uploads/*
/public/playlist.m3u
/public/playlist.txt
