/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
fire.json
.idea/*
.DS_Store
resources/js/.idea/*
public/uploads/*
/app/Http/Controllers/Auth/
/resources/views/layouts/app.blade.php
/database/migrations/2014_10_12_100000_create_password_resets_table.php
